<div class="p-6">
  <div class="flex items-center justify-between">
    <div>
      <p>Collected Today</p>
      <h2 class="text-2xl font-bold">$24,680</h2>
    </div>

    <div class="flex items-center justify-between">
      <div class="mr-2">
        <p class="text-lg text-green-500">15.24%</p>
        <p class="text-sm text-slate-500">vs last month</p>
      </div>
      <div
        class="text-xl font-bold flex justify-center items-center py-2 px-3 text-green-800 bg-green-200 rounded-full"
      >
        <i class="fa-solid fa-arrow-up"></i>
      </div>
    </div>
  </div>

  <div class="mt-6"></div>
</div>
