<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="modal-header">
      <h4 class="modal-title">{{my_modal_title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
   
 
        <div class="form-group">
          <label>Employee Id</label>
          <input formControlName="Id" type="hidden"/>
          <input type="text" class="form-control" (blur)="getEmployeeId()" formControlName="UserName"
          placeholder="Enter Employee Id">
     
   

    <span *ngIf="EmployeeInfo">
      <label class="text-info">{{EmployeeInfo.name}} ({{EmployeeInfo.designation}})</label>
      
    </span>
        </div>
        <div class="form-group">
          <label>Full Name</label>
          <input formControlName="FullName" class="form-control" type="text">
   
        </div>

        <div class="form-group">
          <label>Branch Info</label>
          <input formControlName="Branch" class="form-control" type="text" readonly>
       
        </div>
     
        <div class="form-group">
          <label>Email</label>
          <input formControlName="Email" class="form-control" type="text">
    
        </div>
        <div class="form-group">
          <label>Role</label>
          <!-- <select class="form-control" formControlName="Role">
            <option value="">Select</option>
            <option *ngFor="let role of RoleList; let i = index" [value]="RoleList[i].normalizedName">
              {{RoleList[i].name}} 
            </option>
          </select> -->

          <ng-multiselect-dropdown
            [placeholder]="'Select roles'"
            [data]="RoleList"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
           
            formControlName="selectedRoles"
            
          >
          </ng-multiselect-dropdown>

         

        </div>
        <div formGroupName="Passwords">
          <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password" [readonly]="id">
       </div>
          <div class="form-group required">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword" [readonly]="id">
      </div>
        </div>
    
    
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light mr-1"
          [disabled]="!service.formModel.valid">Submit</button>
    </div>
  </form>