<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <h4 class="page-title">Change Password</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"></li>
      </ol>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
</div>
<form [formGroup]="service.changePasswordModel" autocomplete="off" (submit)="onSubmit()">
  
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
 
          <div class="form-group required">
            <label>Old Password</label>
            <input type="password" class="form-control" formControlName="OldPassword">
            <label class="text-danger" *ngIf="service.changePasswordModel.get('OldPassword').touched && service.changePasswordModel.get('OldPassword').errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="service.changePasswordModel.get('OldPassword').touched && service.changePasswordModel.get('OldPassword').errors?.minlength">Minimum 4 characters required.</label>
          </div>
          <div formGroupName="Passwords">
            <div class="form-group required">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="Password">
              <label class="text-danger" *ngIf="service.changePasswordModel.get('Passwords.Password').touched && service.changePasswordModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
              <label class="text-danger" *ngIf="service.changePasswordModel.get('Passwords.Password').touched && service.changePasswordModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required.</label>
            </div>
            <div class="form-group required">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="ConfirmPassword">
              <label class="text-danger" *ngIf="service.changePasswordModel.get('Passwords.ConfirmPassword').touched && service.changePasswordModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
              <label class="text-danger" *ngIf="service.changePasswordModel.get('Passwords.ConfirmPassword').touched && service.changePasswordModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
            </div>  
      
        
         
           
            </div>
            <div class="form-group mb-0 text-right">
              <div>
                <button type="submit" class="btn btn-primary waves-effect waves-light mr-1"
                  [disabled]="!service.changePasswordModel.valid">
                  <span *ngIf="service.changePasswordModel.valid">Submit</span>
                  <span *ngIf="!service.changePasswordModel.valid">Please fill-up all mandatory fields</span>
                </button>
                <button type="reset" class="btn btn-secondary waves-effect">Cancel</button>
              </div>
            </div>
    
        </div>
      </div>
    </div>
  </div>
  </form>


