<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Un-Authorized User</h4>

        <table
          class="table table-striped table-sm table-bordered dt-responsive nowrap"
          style="border-collapse: collapse; border-spacing: 0; width: 100%"
        >
          <thead>
            <tr class="text-center">
              <th>User Name</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Branch</th>
              <th>Role</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <!-- <tr>
              <td>{{ model.userName }}</td>s
              <td>{{ model.fullName }}</td>
              <td>{{ model.email }}</td>
              <td>{{ model.branch }}</td>
              <td>
                <span>
                  <span *ngIf="i > 0">,</span>
                  "
                  <span *ngIf="role == 'BRANCH DESK DOFFICER'"
                    >Branch Desk Officer</span
                  >
                  <span *ngIf="role == 'BRANCH INVESTMENT INCHARGE'"
                    >Branch Investment Incharge</span
                  >
                  <span *ngIf="role == 'BRANCH DEPUTY MANAGER'"
                    >Branch Deputy Manager</span
                  >
                  <span *ngIf="role == 'BRANCH MANAGER'">Branch Manager</span>
                  <span *ngIf="role == 'IRMD_DO'">IRM-Desk Officer</span>
                  <span *ngIf="role == 'IRMD_IC'">IRM- Unit In-charge</span>
                  <span *ngIf="role == 'BOARDSC'">Board Secretary</span>
                  <span *ngIf="role == 'IRMD_HEAD'">IRM- Division Head</span>
                  <span *ngIf="role == 'DMD'">DMD Corporate 1</span>
                  <span *ngIf="role == 'DMD CORPORATE 2'">DMD Corporate 2</span>
                  <span *ngIf="role == 'IAD'">IAD</span>
                  <span *ngIf="role == 'EC'">EC</span>
                  <span *ngIf="role == 'MD'">MD</span>
                  <span *ngIf="role == 'DMD'">DMD</span>
                  <span *ngIf="role == 'AMD'">AMD</span>
                  <span *ngIf="role == 'USERMAKER'">Maker User</span>
                  <span *ngIf="role == 'USERCHECKER'">Checker User</span>
                  <span *ngIf="role == 'CIB_USER'">CIB_USER</span>
                  <span *ngIf="role == 'CIB_ADMIN'">CIB_ADMIN</span>
                  <span *ngIf="role == 'IP_MONITORING_TEAM'"
                    >IP_MONITORING_TEAM</span
                  >
                  "
                </span>
              </td>
              <td>
                <span *ngIf="!model.isAuthorized" class="badge badge-danger"
                  >Un-Authorized</span
                >
                <span *ngIf="model.isAuthorized" class="badge badge-success"
                  >Authorized</span
                >
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                  (click)="authorize(model.id)"
                  placement="top"
                  ngbTooltip="Authorize"
                >
                  <i class="ti-check"></i>
                </button>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Authorized User</h4>

        <table
          class="table table-striped table-sm table-bordered dt-responsive nowrap"
          style="border-collapse: collapse; border-spacing: 0; width: 100%"
        >
          <thead>
            <tr class="text-center">
              <th>User Name</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Branch</th>
              <th>Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <!-- <tr
              [ngStyle]="{
                'text-decoration': model.isActive ? '' : 'line-through'
              }"
              *ngFor="let model of UserList; let i = index"
            >
              <td>{{ model.userName }}</td>
              <td>{{ model.fullName }}</td>
              <td>{{ model.email }}</td>
              <td>{{ model.branch }}</td>
              <td>
                <span *ngFor="let role of model.roles; let i = index"
                  ><span *ngIf="i > 0">,</span>"{{ role }}"</span
                >
              </td>

              <td>
                <button
                  *ngIf="model.accessFailedCount > 2"
                  type="button"
                  class="btn btn-sm btn-warning"
                  (click)="unlock(model.id)"
                  placement="top"
                  ngbTooltip="UnLock User"
                >
                  <i class="ti-unlock"></i>
                </button>
                <button
                  *ngIf="model.isActive"
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="inactive(model.id, false)"
                  placement="top"
                  ngbTooltip="In Active"
                >
                  <i class="ti-unlink"></i>
                </button>
                <button
                  *ngIf="!model.isActive"
                  type="button"
                  class="btn btn-sm btn-success"
                  (click)="inactive(model.id, true)"
                  placement="top"
                  ngbTooltip="Active"
                >
                  <i class="ti-check"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-sm btn-warning"
                  placement="top"
                  ngbTooltip="Edit User"
                  (click)="edit(model.id)"
                >
                  <i class="ti-pencil-alt"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-info"
                  placement="top"
                  ngbTooltip="Reset Password"
                  (click)="resetPassword(model.id)"
                >
                  <i class="ti-key"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="delete(model.id)"
                  ngbTooltip="Delete User"
                  placement="top"
                  ngbTooltip="Delete"
                >
                  <i class="ti-close"></i>
                </button>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
