<router-outlet></router-outlet>

<app-navbar></app-navbar>

<main class="flex">
  <app-sidebar></app-sidebar>

  <section class="w-full m-6">
    <div class="sm:flex sm:justify-between mb-6">
      <h3 class="font-bold sm:text-lg">Transport Dashboard</h3>
      <p class="text-slate-500 text-sm">Ami &gt; Lieo &gt; Dashboard</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
      <app-small-card [demoData]="test data"></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>

    <div class="grid grid-cols-3 gap-6">
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>

      <div class="row-span-2 border bg-white rounded-lg overflow-auto">
        <app-tall-card></app-tall-card>
      </div>

      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
    </div>
  </section>
</main>
