<div class="h-screen flex flex-col justify-center">
  <router-outlet></router-outlet>

  <div class="text-center">
    <p>&copy; 2022 SchoolX Powered by Shine Coder.</p>
  </div>
</div>

<!-- <div class="wrapper-page">
  <div class="card overflow-hidden account-card mx-3">
   <div class="bg-primary p-4 text-white text-center position-relative">
      <h3 class="font-20 m-b-5">Shine Coder</h3>
      <p class="text-white-50 mb-4" style="color: #e5e4e2 !important">
        School X
      </p>
      <a href="index.html" class="logo logo-admin">
        <img
          src="assets/images/logo-sm.png"
          height="63"
          style="margin-top: 13px"
          alt="logo"
        />
      </a>
    </div> 
    <router-outlet></router-outlet>
  </div>
  <div class="m-t-40 text-center">
    <p>Don't have an account ? <a href="pages-register.html" class="font-500 text-primary">Signup now</a></p> 
    <p>&copy; 2022 SchoolX Powered by Shine Coder.</p>
  </div>
</div> -->
