<div class="bg-white border max-w-md mx-auto mb-10">
  <div class="bg-indigo-500 relative">
    <div class="text-white py-10">
      <h3 class="text-center text-lg font-bold tracking-wide">School X</h3>
    </div>

    <div class="flex justify-center items-center absolute top-20 right-1/3">
      <h2
        class="bg-slate-100 p-4 uppercase text-xl font-bold border-b-2 border-indigo-500"
      >
        ShineCoder
      </h2>
    </div>
  </div>

  <form class="mt-20 flex flex-col justify-center items-center">
    <div class="mb-4">
      <label for="">Username</label><br />
      <input
        type="text"
        placeholder="Enter your username"
        class="border px-4 py-1 mt-1"
      />
    </div>
    <div class="mb-4">
      <label for="">Password</label><br />
      <input
        type="text"
        placeholder="Enter your password"
        class="border px-4 py-1 mt-1"
      />
    </div>

    <button type="submit" class="bg-indigo-500 text-white px-4 py-1">
      Log in
    </button>
  </form>

  <div class="text-center mb-10">
    <p class="mt-4">Don't Have An Account? Sign up</p>
  </div>
</div>

<!-- <div class="account-card-content">
  <form
    class="form-horizontal m-t-30"
    #form="ngForm"
    autocomplete="off"
    (submit)="onSubmit(form)"
  >
    <div class="form-group">
      <label for="username">Username</label>
      <input
        class="form-control"
        type="text"
        #UserName="ngModel"
        placeholder="Enter username"
        name="UserName"
        [(ngModel)]="formModel.UserName"
        required
      />
    </div>
    <div class="form-group">
      <label for="userpassword">Password</label>
      <input
        type="password"
        placeholder="Enter password"
        class="form-control"
        #Password="ngModel"
        name="Password"
        [(ngModel)]="formModel.Password"
        required
      />
    </div>
    <div class="form-group row m-t-20">
      <div class="col-sm-6">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input"
            id="customControlInline"> 
            <label class="custom-control-label" for="customControlInline">Remember
            me</label>
          </div>
      </div>
      <div class="col-sm-6 text-right">
        <button
          type="submit"
          class="btn btn-primary w-md waves-effect waves-light"
          [disabled]="form.invalid"
        >
          Log In
        </button>
      </div>
    </div>
    <div class="form-group m-t-10 mb-0 row">
       <div class="col-12 m-t-20"><a href="#"><i class="mdi mdi-lock"></i> Forgot your
            password?</a></div>
    </div>
  </form>
</div> -->
